<!--corriger l'animation-->
<div id="page" [ngClass]="{showp : getAnimation('show'), hidep : getAnimation('hide')}"
[style.background-color]="clr" [style.height]="getH()">
    <div [ngClass]="{showc : getDisplay(0), hidec : !getDisplay(0)}"  id="Team">
        <label>
            paragraphe liste Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut reiciendis corrupti, exercitationem ducimus repellat voluptates consequatur modi cupiditate dolorem est harum dolor voluptatem saepe. Vero eaque eligendi voluptatum fugit quam!
        </label>
        <img id="photolist" src="../../assets/files/team/LIST.JPG"> 
        <ul>
            <li *ngFor="let i of members;">
                <img class="pdp" [id]="i.name" [src]="i.src">
                <label class="name">{{i.name}}</label>
                <label class="lore">{{i.lore}}</label>
            </li>
        </ul>
    </div>

    <div id="Prog" [ngClass]="{showc : getDisplay(1), hidec : !getDisplay(1)}">
        <ul>
            <li *ngFor="let i of sections;">
                <button id=i.id class="accordion" (click)="toggleGsection(i.id)">{{i.lore}}</button>
                <div class="sectiontop">
                    <p>{{i.lore}}</p>
                    <!--video pole-->
                </div>
            </li>
        </ul>
    </div>

    <div id="Campaign" [ngClass]="{showc : getDisplay(2), hidec : !getDisplay(2)}">
        <p>test</p>
        <ul>
            <li *ngFor="let i of sections;">
                <a class="btn btn-danger" href="../../assets/files/campaign/menu_1.pdf" download>Flyer Jour 1</a>
            </li>
        </ul>
        <a class="btn btn-danger" href="../../assets/files/campaign/menu_1.pdf" download>Flyer Jour 1</a>      
        <!--flyers!-->
    </div>

    <div id="Party" [ngClass]="{showc : getDisplay(3), hidec : !getDisplay(3)}">
        <embed src="../../assets/files/party/party_soft_1.pdf" [style.height]="posterH()" type='application/pdf'/>
        <embed src="../../assets/files/party/party_hard_1.pdf" [style.height]="posterH()" type='application/pdf'/>
        <embed src="../../assets/files/party/party_soft_2.pdf" [style.height]="posterH()" type='application/pdf'/>
        <embed src="../../assets/files/party/party_hard_2.pdf" [style.height]="posterH()" type='application/pdf'/>
    </div>

    <div id="Agenda" [ngClass]="{showc : getDisplay(4), hidec : !getDisplay(4)}">
        <!-- see https://stackoverflow.com/questions/2269192/use-a-custom-url-to-get-a-customized-printable-version-of-google-calendar-->
        <iframe id="agenda" src="https://calendar.google.com/calendar/embed?src=kvv954969fmevuq0bi8v7dvf1k%40group.calendar.google.com&ctz=Europe%2FParis&mode=week&wkst=7&pbw=false&pda=true&dates=20200210%2F20200221" 
            width="95%" 
            height="800px" 
            frameborder="4" 
            scrolling="no"></iframe>
    </div>
</div>
