<style>
#touchbox {
    width: 100%;
    height: 30px;
    position: fixed;
    background-color: #F44336;
    top : 0;
    left : 0;
    z-index: 1;
}

#contentbox {
    width: 100%;
    /*height: 100%;*/
    position: fixed;
    background-color: rgba(244, 64, 54, 0.8);
    top : 30px;
    left : 0;
    z-index: 7;
    overflow: hidden;
    transition:0.5s;
}

#contentbox p{
    color:white;
}
</style>
<div >
    <div id="touchbox" (click)="onDropdown()">
        <p>Infos</p>
    </div>
    <div id="contentbox" [style.height]="css_height">
        <div class="notification">
            <p>Notif A</p>
        </div>

    </div>
</div>

