<style>
    div {
        position: fixed;
        left : 0;
        width: 100%;
        transition:0.5s;
        z-index:3;
    }

    img {
        border-style: solid;
        border-radius: 50%;
        border-width: 3px;
        border-color: #FEFEFE;
        object-fit: cover;
        position: absolute;
    }
    #title {
        font-family: Arial, Helvetica, sans-serif;
        color: #FEFEFE;
        font-size: x-large;
        position: absolute;
    }
    #lore {
        font-family: Arial, Helvetica, sans-serif;
        color: #FEFEFE;
        font-size: medium;
        position: absolute;
    }

    .initialClass.animationClass-add {
        animation: 1s ng-class-animation;
    }

/* This is the animationd definition, this class is added when the animationClass is about to be appended to element classes*/
.initialClass.animationClass-remove  {
    -webkit-animation: 1s ng-class-animation reverse;
    -moz-animation: 1s ng-class-animation reverse;
    -ms-animation: 1s ng-class-animation reverse;
    -o-animation: 1s ng-class-animation reverse;
    animation: 1s ng-class-animation reverse;
}

    .hideUnselected {
        animation: hideUnselected 0.5s ease 0s 1 backwards;
        animation-fill-mode: "{getfill()}";
    }
    @keyframes hideUnselected {
        from {
            left:0;
        }
        to {
            left:100%;
        }
    }

    .upSelected {
        animation: upSelected 0.5s ease 0.5s 1 forwards;
    }
    @keyframes upSelected {
        from {
            top:"{getTop()}";
        }
        to {
            top:30px;
        }
    }


</style>
<!--, downSelected : istoDeselect(), showUnselected : istoShow()}"-->
<div  
    class="hideUnselected"
    [style.top]="getTop()" [style.background-color]="getClr()" [style.height]="getH()" (click)="onSwitch()">
    
    <label id="title" 
        [style.top]="getNthOfH(0.25)" 
        [style.left]="getNthOfH(1)">
        {{title}}
    </label>
    <label id="lore"
        [style.bottom]="getNthOfH(0.25)" 
        [style.left]="getNthOfH(1)">{{lore}}</label>
    <img src="../../assets/img/IMG_4299.JPG"
        [style.height]="getNthOfH(0.5)"
        [style.width]="getNthOfH(0.5)"
        [style.top]="getNthOfH(0.25)"
        [style.left]="getNthOfH(0.25)">
</div>
