<style>
  #section {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background: url(../assets/icons/bg.svg);
    background-size: auto 100%;
  }
</style>
<div id="section">
  <app-notification-tab></app-notification-tab>
  <!--Team Programme Campagne(flyer menus) Soirées Calendrier-->
  <app-menu title='Team' lore="Qui sont les Magell'Antic ?" menuid=0></app-menu>
  <app-menu title='Programme' lore='Programme de la liste' menuid=1></app-menu>
  <app-menu title='Campagne' lore='Menus des midis et flyers' menuid=2></app-menu>
  <app-menu title='Soirées' lore="Soirées Magell'Antic" menuid=3></app-menu>
  <app-menu title='Calendrier' lore="Agenda de la campagne" menuid=4></app-menu>
  <app-content></app-content>
</div>
